<mat-card>
    <form action="" (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input 
                matInput 
                ngModel
                name="title"
                #title=ngModel
                type="text" 
                placeholder="Title"
                required
                minlength="3">
                <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
                matInput 
                ngModel
                name="content" 
                #content = "ngModel"
                id="" 
                cols="30" rows="10" 
                placeholder="Write your post here."
                required
                minlength="10">
            </textarea>
            <mat-error *ngIf="content.invalid">Invalid body. Please try again.</mat-error>
        </mat-form-field>
        <button 
            mat-raised-button 
            color="primary" 
            type="submit"
        >
            Submit
        </button>
    </form>
</mat-card>